<template>
  <section class="hero is-dark is-vcentered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7">
            <div class="box">
              <div class="columns is-centered">
                <div class="column is-8">
                  <p class="title">Please tell us about yourself</p>
                  <p
                    class="subtitle has-text-grey"
                  >This seems to be the first time you are logging in. We just need to know the following information about you</p>

                  <form>
                    <div class="field" v-if="role==='lecturer'">
                      <div class="control">
                        <label for class="label">Title</label>
                        
                        <input class="input" type="text" autofocus v-model="title">
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <label for class="label">First Name</label>
                        
                        <input class="input" type="text" autofocus v-model="firstName">
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <label for class="label">Last name</label>
                        
                        <input class="input" type="text" v-model="lastName">
                      </div>
                    </div>
                    <div class="field" v-if="role==='lecturer'">
                      <div class="control">
                        <label for class="label">Qualifications</label>
                        <input class="input" type="text" v-model="qualifications">
                      </div>
                    </div>
                    <div class="field" v-if="role!=='admin'">
                      <div class="control">
                        <label for class="label">School</label>
                        <div class="select is-fullwidth">
                          <select v-model="school_id">
                            <option :value="null" disabled></option>
                            <option :value="s.id" v-for="(s, idx) in schools" :key="idx">{{s.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field" v-if="role==='student'">
                      <div class="control">
                        <label for class="label">Student number</label>
                        <input
                          class="input"
                          type="text"
                          placeholder="Student number"
                          v-model="studentNum"
                        >
                      </div>
                    </div>
                    <div class="field" v-if="role==='student'">
                      <div class="control">
                        <label for class="label">Contact number</label>
                        <input
                          class="input"
                          type="text"
                          placeholder="Phone number"
                          v-model="contactNum"
                        >
                      </div>
                    </div>
                    <div class="field" v-if="role!=='admin'">
                      <div class="control">
                        <b-field label="Date of birth">
                          <b-datepicker
                            placeholder="Click to select..."
                            icon="calendar-today"
                            v-model="dob"
                          ></b-datepicker>
                        </b-field>
                      </div>
                    </div>
                    <div class="field" v-if="role!=='admin'">
                      <div class="control">
                        <label for class="label">Gender</label>
                        <div class="block">
                          <b-radio v-model="gender" native-value="male">Male</b-radio>
                          <b-radio v-model="gender" native-value="female">Female</b-radio>
                          <b-radio v-model="gender" native-value="other">Other</b-radio>
                        </div>
                      </div>
                    </div>
                    <div class="field" v-if="role==='student'">
                      <div class="control">
                        <label for class="label">Major level</label>
                        <div class="block">
                          <b-radio v-model="year" native-value="1">1st year</b-radio>
                          <b-radio v-model="year" native-value="2">2nd year</b-radio>
                          <b-radio v-model="year" native-value="3">3rd year</b-radio>
                        </div>
                      </div>
                    </div>
                    <div class="button is-primary is-outlined" @click="addUser">Add Details</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      firstName: null,
      lastName: null,
      studentNum: null,
      contactNum: null,
      dob: null,
      gender: null,
      user_id: this.$store.state.Auth.currentUser,
      title: null,
      qualifications: null,
      school_id: null,
      year: null
    };
  },
  computed: {
    role() {
      return this.$store.state.Auth.userRole;
    },
    schools() {
      return this.$store.state.Classes.available.schools;
    }
  },
  methods: {
    addUser() {
      if (this.role === "admin") {
        const data = {
          firstName: this.firstName,
          lastName: this.lastName,
          user_id: this.user_id
        };
        console.log(data);
        this.$store.dispatch("User/sendAdminDetails", data);
      } else if (this.role === "lecturer") {
        const dob =
          this.dob.getFullYear() +
          "-" +
          (this.dob.getMonth() + 1) +
          "-" +
          this.dob.getDate();
        const data = {
          firstName: this.firstName,
          lastName: this.lastName,
          user_id: this.user_id,
          dob: dob,
          gender: this.gender,
          title: this.title,
          qualifications: this.qualifications,
          school_id: this.school_id
        };
        console.log(data);
        this.$store.dispatch("User/sendLecturerDetails", data);
      } else if (this.role === "student") {
        const dob =
          this.dob.getFullYear() +
          "-" +
          (this.dob.getMonth() + 1) +
          "-" +
          this.dob.getDate();
        const data = {
          firstName: this.firstName,
          lastName: this.lastName,
          user_id: this.user_id,
          studentNum: this.studentNum,
          contactNum: this.contactNum,
          dob: dob,
          gender: this.gender,
          year: this.year,
          school_id: this.school_id
        };
        console.log(data);
        this.$store.dispatch("User/sendStudentDetails", data);
      } else {
        console.log("Invalid user role");
      }
    }
  },
  mounted() {
    this.$store.dispatch("Classes/getSchools");
  }
};
</script>
<style lang="scss" scoped>
.select select {
  border-color: whitesmoke;
}

.select select:hover,
.select select.is-hovered {
  border-color: #7f7fd5;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: whitesmoke;
}
</style>

