
  <template>
  <section class="hero is-dark is-vcentered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7">
            <div class="box">
              <div class="columns is-centered">
                <div class="column is-8">
                  <p class="title">Change your password</p>

                  <form>
                    <div class="field">
                      <div class="control">
                        <label for class="label">New password</label>
                        
                        <input class="input" type="password" autofocus v-model="password">
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <label for class="label">Confirm password</label>
                        
                        <input class="input" type="password" v-model="confirmPassword">
                      </div>
                    </div>
                    <p class="help is-danger">{{error}}</p>

                    <div class="button is-primary is-outlined" @click="update">Change Password</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      user_id: this.$store.state.Auth.currentUser,
      password: null,
      confirmPassword: null,
      error: null
    };
  },
  computed: {
    role() {
      return this.$store.state.Auth.userRole;
    }
  },
  methods: {
    update() {
      if (this.password === this.confirmPassword) {
        this.error = null;
        const data = {
          user_id: this.user_id,
          password: this.password
        };
        this.$emit("next");
        this.$store.dispatch("Auth/updatePassword", data);
        /* if (!error) {
        } else {
          this.error = "Passwords do not match";
        } */
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.select select {
  border-color: whitesmoke;
}

.select select:hover,
.select select.is-hovered {
  border-color: #7f7fd5;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: whitesmoke;
}
</style>


