<template>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="fas" icon="wallet" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Financial Details</h1>
        </div>
      </div>
    </article>
    <div class="box">
      <div class="columns">
        <div class="column is-half">
          <p class="subtitle has-text-light">
            <strong class="has-text-light">Fees Paid:</strong> true
          </p>
          <p class="subtitle has-text-light">
            <strong class="has-text-light">Fees Outstanding:</strong>
          </p>
        </div>
        <div class="column is-half"></div>
      </div>
    </div>
  </div>
</template>
