<template>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="fas" icon="info-circle" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">General Details</h1>
        </div>
      </div>
    </article>
    <div class="box">
      <div class="columns">
        <div class="column is-half">
          <p class="subtitle has-text-light">
            <strong class="has-text-light">Full name:</strong>
            {{user.firstName}} {{user.lastName}}
          </p>
          <p class="subtitle has-text-light">
            <strong class="has-text-light">Date of Birth:</strong>
            {{user.dob}}
          </p>
          <p class="subtitle has-text-light">
            <strong class="has-text-light">Gender:</strong>
            {{user.gender}}
          </p>
          <p class="subtitle has-text-light" v-if="role==='student'">
            <strong class="has-text-light">Contact number:</strong>
            {{user.contactNum}}
          </p>
        </div>
        <div class="column is-half"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    user() {
      return this.$store.state.User.details;
    },
    role() {
      return this.$store.state.Auth.userRole;
    }
  }
};
</script>

