<template>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">Create Quote</h1>
        </div>
      </div>
    </article>
    <div class="box">
      <!-- studnet number input -->
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="chalkboard-teacher" size="is-medium"></b-icon>
          </p>
        </figure>
      
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Student Number</h2>
          </div>
        </div>
      </article>
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="field">
            <div class="control">
               <input class="input is-primary" type="text" placeholder="Student number">
            </div>
          </div>
        </div>
      </div>
<!-- studnet number input end -->

      <!-- amount paid -->
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="dollar-sign" size="is-medium"></b-icon>
          </p>
        </figure>
      
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Amount Paid</h2>
          </div>
        </div>
      </article>
      <div class="columns">
        <div class="column is-6 is-offset-1">
          <div class="field">
            <div class="control">
              <input class="input is-primary" type="number" placeholder="Amount paid">
            </div>
          </div>
        </div>
      </div>
      <!-- amount paid end -->

      <div class="button has-text-centered is-primary">Update</div>
    </div>
  </div>
</template>



<script>
export default {};
</script>

