<template>
  <b-table
    :data="isEmpty ? [] : classes"
    default-sort-direction="asc"
    default-sort="day"
    class="is-fullwidth"
    :paginated="true"
    :per-page="10"
    icon-pack="fa"
    pagination-size="is-small"
    :pagination-simple="true"
    detailed
    detail-key="id"
    :show-detail-icon="true"
  >
    <template slot-scope="props">
      <b-table-column field="subject" label="Subject" sortable>{{ props.row.name }}</b-table-column>

      <b-table-column label="Average" sortable>{{ props.row.average }}</b-table-column>

      <b-table-column label="Class average" sortable>{{props.row.classAverage }}</b-table-column>
    </template>

    <template slot="detail" slot-scope="props">
      <table class="table">
        <tr>
          <td>Term 1</td>
          <td>{{props.row.marks.term1 }}</td>
        </tr>
        <tr>
          <td>Term 2</td>
          <td>{{props.row.marks.term2 }}</td>
        </tr>
        <tr>
          <td>Term 3</td>
          <td>{{props.row.marks.term3 }}</td>
        </tr>
        <tr>
          <td>Term 4</td>
          <td>{{props.row.marks.term4 }}</td>
        </tr>
      </table>
    </template>

    <template slot="empty">
      <section class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <b-icon icon="emoticon-sad" size="is-large"></b-icon>
          </p>
          <p>Nothing here.</p>
        </div>
      </section>
    </template>
  </b-table>
</template>
<script>
export default {
  props: {
    classes: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      isEmpty: false
    };
  }
};
</script>
<style>
.b-table .table tr.detail {
  background: #1f2424;
  box-shadow: none;
}
</style>


