<template>
  <table class="table is-fullwidth">
    <thead>
      <tr class="has-text-centered">
        <td>Day</td>
        <th>08:00</th>
        <th>09:00</th>
        <th>10:00</th>
        <th>11:00</th>
        <th>12:00</th>
        <th>13:00</th>
        <th>14:00</th>
        <th>15:00</th>
        <th>16:00</th>
        <th>17:00</th>
        <th>18:00</th>
        <th>19:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Monday</th>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
      </tr>
      <tr>
        <th>Tuesday</th>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
      </tr>
      <tr>
        <th>Wednesday</th>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
      </tr>
      <tr>
        <th>Thursday</th>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
      </tr>
      <tr>
        <th>Friday</th>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
        <td>Class</td>
      </tr>
    </tbody>
  </table>
</template>
