<template>
  <div>
    <div class="columns">
      <div class="column">
        <Welcome/>
        <Performance @marks="marksActive=true"/>
      </div>
      <div class="column is-7">
        <Feed/>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column">
        <Schedule/>
      </div>
    </div>
    <Marks :is-active="marksActive" @close="closeModal"/>
  </div>
</template>

<script>
import Welcome from "../dashboard/Welcome";
import Performance from "../dashboard/Performance";
import Feed from "../dashboard/Feed";
import Schedule from "../dashboard/Schedule";
import Marks from "../dashboard/Marks";
export default {
  components: {
    Welcome,
    Performance,
    Schedule,
    Feed,
    Marks
  },
  computed: {
    user() {
      return this.$store.state.Auth;
    }
  },
  methods: {
    getClasses() {
      console.log(this.user);
      const data = {
        role: this.user.userRole,
        id: this.user.currentUser
      };
      this.$store.dispatch("Classes/getClasses", data);
    },
    closeModal() {
      this.marksActive = false;
    }
  },
  data() {
    return {
      marksActive: false
    };
  },
  mounted() {
    this.getClasses();
  }
};
</script>

<style>
</style>
