<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <meta content="width=device-width,initial-scale=1.0" name="viewport">
                    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
                        <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
                            <title>betaschool_vue</title>
                        </head>
                        <body>
                            <noscript>
                                <strong>We're sorry but betaschool_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
                            </noscript>
                            <div id="app"></div>
                            <!-- built files will be auto injected -->
                        </body>
                    </html>
                