<template>
  <div class="box">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <router-link to="/users">
            <b-icon pack="fas" icon="user" size="is-large" class="action-icon"></b-icon>
            <p class="heading">Manage Users</p>
          </router-link>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <router-link to="/fees">
            <b-icon pack="fas" icon="file-invoice-dollar" size="is-large" class="action-icon"></b-icon>
            <p class="heading">Manage Fees</p>
          </router-link>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <router-link to="/classes">
            <b-icon pack="far" icon="calendar-alt" size="is-large" class="action-icon"></b-icon>
            <p class="heading">Manage Classes</p>
          </router-link>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <b-icon pack="fas" icon="bullhorn" size="is-large" class="action-icon"></b-icon>
          <p class="heading">Make Announcement</p>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.action-icon {
  margin: 1em auto;
}
</style>

