<template>
  <div>
    <div class="columns">
      <div class="column">
        <Welcome/>
      </div>
      <div class="column">
        <Stats/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <ActionButtons/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <StudentSearch/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Welcome from "../dashboard/Welcome";
import Stats from "../dashboard/Stats";
import ActionButtons from "./ActionButtons";
import StudentSearch from "./StudentSearch";
import Classes from "./Classes";
export default {
  components: {
    Welcome,
    ActionButtons,
    StudentSearch,
    Classes,
    Stats
  },
  computed: {
    user() {
      return this.$store.state.User;
    }
  }
};
</script>

 <style lang="scss" scoped>
.box {
  height: 100%;
}
</style>

