<template>
  <article class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="far" icon="building" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Classrooms</h1>
        </div>
      </div>
      <div class="media-right">
        <b-icon pack="fas" icon="expand" size="is-medium"></b-icon>
      </div>
    </article>
    <b-tabs v-model="activeTab">
      <b-tab-item label="Unoccupied">
        <figure class="image is-3by1">
          <img src="https://bulma.io/images/placeholders/720x240.png">
        </figure>
      </b-tab-item>

      <b-tab-item label="Occupied">
        <figure class="image is-3by1">
          <img src="https://bulma.io/images/placeholders/720x240.png">
        </figure>
      </b-tab-item>
    </b-tabs>
  </article>
</template>
<script>
export default {
  data() {
    return {
      activeTab: 0
    };
  }
};
</script>

