<template>
  <div class="box">
    <h1 class="title">Student Search</h1>
    <div class="control has-icons-right">
      <input class="input" type="text" placeholder="Student number">
      <ul v-if="results.length > 0">
        <li v-for="result in results" :key="result.id" v-text="result.name"></li>
      </ul>
      <span class="icon is-medium is-right">
        <b-icon pack="fas" icon="search"></b-icon>
      </span>
    </div>
  </div>
</template>

<script>
export default {
    name: "StudentSearch",
    data() {
        return {
            keywords: null,
            results: []
        };
    },

    watch: {
        keywords(after, before) {
            this.fetch();
        }
    },

    methods: {
        fetch() {
            axios.get('/api/search', { params: { keywords: this.keywords } })
                .then(response => this.results = response.data)
                .catch(error => {});
        }
    }
}
</script>