<template>
  <div class="box">
    <div class="columns is-centered">
      <div class="column is-8">
        <p class="title">Add new {{role}}</p>

        <form>
          <div class="field">
            <div class="control">
              <label for class="label">Email</label>
              
              <input class="input" type="text" autofocus v-model="email">
            </div>
          </div>
          <div class="buttons">
            <div class="button is-primary is-outlined" @click="$emit('back')">Cancel</div>
            <div class="button is-primary" @click="register">Add {{role}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: null,
      role: this.$store.state.User.newUser.role
    };
  },
  computed: {
    newPassword() {
      var password = "";
      var possible =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 6; i++)
        password += possible.charAt(
          Math.floor(Math.random() * possible.length)
        );

      return password;
    }
  },
  methods: {
    register() {
      const data = {
        email: this.email,
        password: this.newPassword,
        role: this.role
      };
      this.$store.dispatch("Auth/register", data);
      this.email = null;
      this.password = null;
      this.$emit("back");
    }
  }
};
</script>

