<template>
  <div class="home">
    <Nav/>
    <div class="container">
      <div class="columns">
        <!-- <div class="column is-2">
          <SideNav/>
        </div>-->
        <div class="column">
          <div v-if="userDetails.id===0 && !password">
            <ChangePassword @next="password = true"/>
          </div>
          <div v-else-if="userDetails.id===0 && password">
            <AddDetails/>
          </div>
          <div v-else>
            <StudentDash v-if="user.userRole==='student'"/>
            <LecturerDash v-if="user.userRole==='lecturer'"/>
            <AdminDash v-if="user.userRole==='admin'"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Nav from "@/components/Nav.vue";
import SideNav from "@/components/SideNav.vue";
import StudentDash from "@/components/student/StudentDash.vue";
import LecturerDash from "@/components/lecturer/LecturerDash.vue";
import AdminDash from "@/components/admin/AdminDash.vue";
import AddDetails from "@/components/profile/AddDetails";
import ChangePassword from "@/components/profile/ChangePassword";

export default {
  name: "home",
  components: {
    Nav,
    SideNav,
    StudentDash,
    LecturerDash,
    AdminDash,
    AddDetails,
    ChangePassword
  },
  computed: {
    user() {
      return this.$store.state.Auth;
    },
    userDetails() {
      return this.$store.state.User.details;
    }
  },
  methods: {
    fetchUserDetails() {
      if (this.$store.state.Auth.currentUser === null) {
        setTimeout(() => this.fetchUserDetails(), 250);
      } else {
        const data = {
          role: this.user.userRole,
          id: this.user.currentUser
        };
        this.$store.dispatch("User/getUserDetails", data);
      }
    }
  },
  data() {
    return {
      password: false
    };
  },

  mounted() {
    this.fetchUserDetails();
  }
};
</script>
