<template>
  <div>
    <Nav/>
    <FloatingButton link="/dashboard" icon="arrow-left" label="Back to dashboard"/>
    <div class="container">
      <div class="columns is-centered" v-if="!recording && !viewing">
        <div class="column is-11">
          <ActionableClasses
            action="attendance"
            :classes="classes"
            @record="setClassRecord"
            @view="setClassView"
          />
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-10">
          <RecordAttendance v-if="recording" @back="recording=false" @record="sendAttendance"/>
          <ViewAttendance v-if="viewing" @back="viewing=false"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Nav from "@/components/Nav.vue";
import FloatingButton from "@/components/ui/FloatingButton.vue";
import ActionableClasses from "@/components/lecturer/ActionableClasses.vue";

import RecordAttendance from "@/components/lecturer/manageAttendance/RecordAttendance.vue";
import ViewAttendance from "@/components/lecturer/manageAttendance/ViewAttendance.vue";
export default {
  components: {
    Nav,
    FloatingButton,
    ActionableClasses,
    ViewAttendance,
    RecordAttendance
  },
  computed: {
    classes() {
      return this.$store.state.Classes.classes;
    }
  },
  data() {
    return {
      recording: false,
      viewing: false
    };
  },
  methods: {
    fetchClasses() {
      if (this.$store.state.User.details.user_id === null) {
        setTimeout(() => this.fetchClasses(), 250);
      } else {
        const data = {
          id: this.$store.state.User.details.user_id,
          role: this.$store.state.Auth.userRole
        };
        this.$store.dispatch("Classes/getClasses", data);
      }
    },
    setClassRecord(c) {
      this.recording = true;
      this.$store.commit("Attendance/RESET_CLASS");
      this.$store.dispatch("Attendance/setClass", c);
    },
    setClassView(c) {
      this.viewing = true;
      this.$store.commit("Attendance/RESET_CLASS");
      this.$store.dispatch("Attendance/setClass", c);
    },
    sendAttendance() {
      this.$store.dispatch("Attendance/sendAttendance");
      this.recording = false;
    }
  },
  mounted() {
    if (this.$store.state.Auth.userRole !== "lecturer") {
      this.$router.push("dashboard");
    }
    this.fetchClasses();
  }
};
</script>

