<template>
  <div class="home">
    <Nav/>
    <FloatingButton link="/dashboard" icon="arrow-left" label="Back to dashboard"/>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12">
          <b-tabs v-model="activeTab">
            <b-tab-item>
              <ClassList @assign="activeTab=2" @new="activeTab=1" @edit="activeTab=3"/>
            </b-tab-item>
            <b-tab-item disabled>
              <NewClass @back="back"/>
            </b-tab-item>

            <b-tab-item disabled>
              <AssignClass @back="back"/>
            </b-tab-item>
            <b-tab-item>
              <EditClass @back="back"/>
            </b-tab-item>
          </b-tabs>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Nav from "@/components/Nav.vue";
import FloatingButton from "@/components/ui/FloatingButton.vue";
import ClassList from "@/components/admin/manageClasses/ClassList.vue";
import NewClass from "@/components/admin/manageClasses/NewClass.vue";
import AssignClass from "@/components/admin/manageClasses/AssignClass.vue";
import EditClass from "@/components/admin/manageClasses/EditClass.vue";

import Classes from "@/store/modules/Classes";

export default {
  components: {
    Nav,
    FloatingButton,
    ClassList,
    NewClass,
    AssignClass,
    EditClass
  },
  data() {
    return {
      activeTab: 0
    };
  },
  methods: {
    back() {
      this.activeTab = 0;
    }
    /* fetchUserDetails() {
      if (this.$store.state.User.id === null) {
        setTimeout(() => this.fetchUserDetails(), 250);
      } else {
        this.$store.dispatch("User/getUserDetails");
      }
    }, */
  },
  mounted() {
    if (this.$store.state.Auth.userRole !== "admin") {
      this.$router.push("dashboard");
    }
    this.$store.dispatch("Classes/getAllClasses");
  }
};
</script>

<style lang="scss">
</style>


