<template>
  <div class="home">
    <Nav/>
    <FloatingButton link="/dashboard" icon="arrow-left" label="Back to dashboard"/>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-10">
          <b-tabs v-model="activeTab">
            <b-tab-item label="Create quote">
              <newQuote/>
            </b-tab-item>

            <b-tab-item label="Record transaction">
              <RecordTrans/>
            </b-tab-item>
            <!-- <b-tab-item label="Flagged students">
              <FlaggedStudents/>
            </b-tab-item>-->
          </b-tabs>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Nav from "@/components/Nav.vue";
import FloatingButton from "@/components/ui/FloatingButton.vue";
import newQuote from "@/components/admin/manageFees/CreateQuote.vue";
import RecordTrans from "@/components/admin/manageFees/RecordTrans.vue";
// import FlaggedStudents from "@/components/admin/manageFees/FlaggedStudents.vue";
import Vue from "vue";
import Vuex from "vuex";

import Fees from "@/store/modules/Fees";

export default {
  components: {
    Nav,
    FloatingButton,
    newQuote,
    RecordTrans
    // FlaggedStudents
  },
  data() {
    return {
      activeTab: 0
    };
  },
  mounted() {
    if (this.$store.state.Auth.userRole !== "admin") {
      this.$router.push("dashboard");
    }
    this.$store.dispatch("Fees/getFees");
    // Vuex.mapActions({
    // 	'getFees': 'Fees/getFees'
    // })
  }
};
</script>

<style lang="scss">
@import "@/css/variables.scss";

.option-selector {
  background-color: $dark !important;
  border: 2px solid #00000000;
  margin: 1em auto;
}

.option-selector:hover {
  border: 2px solid $secondary !important;
}

.option-selector.selected {
  background-color: $primary !important;
}
</style>


