<template>
  <div>
    <Nav/>
    <FloatingButton link="/dashboard" icon="arrow-left" label="Back to dashboard"/>
    <div class="container">
      <div class="columns is-centered" v-if="!recording && !viewing">
        <div class="column is-10">
          <ActionableClasses
            action="marks"
            :classes="classes"
            @record="setClassRecord"
            @view="setClassView"
          />
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-10">
          <RecordMarks v-if="recording" @back="recording=false" @record="sendMarks"/>
          <ViewMarks v-if="viewing" @back="viewing=false"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Nav from "@/components/Nav.vue";
import FloatingButton from "@/components/ui/FloatingButton.vue";
import ActionableClasses from "@/components/lecturer/ActionableClasses.vue";

import RecordMarks from "@/components/lecturer/manageMarks/RecordMarks.vue";
import ViewMarks from "@/components/lecturer/manageMarks/ViewMarks.vue";
export default {
  components: {
    Nav,
    FloatingButton,
    ActionableClasses,
    ViewMarks,
    RecordMarks
  },
  computed: {
    classes() {
      return this.$store.state.Classes.classes;
    }
  },
  data() {
    return {
      recording: false,
      viewing: false
    };
  },
  methods: {
    fetchClasses() {
      if (this.$store.state.User.details.user_id === null) {
        setTimeout(() => this.fetchClasses(), 250);
      } else {
        const data = {
          id: this.$store.state.User.details.user_id,
          role: this.$store.state.Auth.userRole
        };
        this.$store.dispatch("Classes/getClasses", data);
      }
    },
    setClassRecord(c) {
      this.recording = true;
      this.$store.commit("Marks/RESET_CLASS");
      this.$store.dispatch("Marks/setClass", c);
    },
    setClassView(c) {
      this.viewing = true;
      this.$store.commit("Marks/RESET_CLASS");
      this.$store.dispatch("Marks/setClass", c);
    },
    sendMarks() {
      this.$store.dispatch("Marks/sendMarks");
      this.recording = false;
    }
  },
  mounted() {
    if (this.$store.state.Auth.userRole !== "lecturer") {
      this.$router.push("dashboard");
    }
    this.fetchClasses();
  }
};
</script>

