<template>
  <div class="home">
    <Nav/>
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <SideBar/>
        </div>
        <div class="column is-9">
          <GeneralDetails/>
          <AcademicDetails/>
          <FeesDetails v-if="role==='student'"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Nav from "@/components/Nav.vue";
import SideBar from "@/components/profile/SideBar.vue";
import GeneralDetails from "@/components/profile/GeneralDetails.vue";
import AcademicDetails from "@/components/profile/AcademicDetails.vue";
import FeesDetails from "@/components/profile/FeesDetails.vue";

export default {
  name: "profile",
  components: {
    Nav,
    SideBar,
    GeneralDetails,
    AcademicDetails,
    FeesDetails
  },
  computed: {
    role() {
      return this.$store.state.Auth.userRole;
    }
  },
  mounted() {
    if (this.$store.state.Auth.userRole === "admin") {
      this.$router.push("dashboard");
    }
  }
};
</script>

