<template>
  <section class="hero is-fullheight is-dark is-vcentered">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <img src="/assets/logo.svg" alt>
            <h3 class="title">Register</h3>
            <form>
              <div class="field">
                <div class="control">
                  <input class="input" type="email" placeholder="Your Email" v-model="email">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Your Password"
                    v-model="password"
                  >
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Confirm Your Password"
                    v-model="confirmPassword"
                  >
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <label for class="label">Role</label>
                  <div class="block">
                    <b-radio v-model="role" native-value="admin">Admin</b-radio>
                    <b-radio v-model="role" native-value="lecturer">Lecturer</b-radio>
                    <b-radio v-model="role" native-value="student">Student</b-radio>
                  </div>
                </div>
              </div>
              <!-- <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>-->
              <div class="button is-primary is-outlined" @click="register">Sign up</div>
            </form>
          </div>
          <p class="has-text-grey">
            <router-link to="/login">Log in</router-link>&nbsp;·&nbsp;
            <!-- <a href="../">Forgot Password</a> &nbsp;·&nbsp; -->
            <a href="../">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      confirmPassword: null,
      role: null,
      error: false,
      errorMessage: null
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters["Auth/user_is_authenticated"];
    }
  },
  methods: {
    register() {
      if (this.password === this.confirmPassword) {
        const data = {
          email: this.email,
          password: this.password,
          role: this.role
        };
        this.$store.dispatch("Auth/register", data);
      } else {
        this.error = true;
        this.errorMessage = "Passwords do not match";
      }
    }
  },
  watch: {
    isLoggedIn() {
      console.log(this.$store.getters["Auth/user_is_authenticated"]);
      this.$router.push("/dashboard");
    }
  }
};
</script>
<style scoped>
.hero.is-success {
  background: #f2f6fa;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
</style>

