<template>
  <section class="hero is-fullheight is-dark is-vcentered">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="box is-clearfix">
              <img src="/assets/logo.svg">
              <br>
              <div class="buttons is-pulled-right">
                <router-link to="/login" class="button is-primary is-outlined">Login</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
</style>

