<template>
  <div class="box">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <router-link to="/attendance">
            <b-icon pack="far" icon="check-circle" size="is-large" class="action-icon"></b-icon>
            <p class="heading">Manage Attendance</p>
          </router-link>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <router-link to="/marks">
            <b-icon pack="fas" icon="percentage" size="is-large" class="action-icon"></b-icon>
            <p class="heading">Manage Marks</p>
          </router-link>
        </div>
      </div>
      <!-- <div class="level-item has-text-centered">
        <div>
          <b-icon pack="far" icon="calendar-alt" size="is-large" class="action-icon"></b-icon>
          <p class="heading">View Classes</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <b-icon pack="fas" icon="bullhorn" size="is-large" class="action-icon"></b-icon>
          <p class="heading">Make Announcement</p>
        </div>
      </div>-->
    </div>
  </div>
</template>
<style scoped>
.action-icon {
  margin: 1em auto;
}
</style>

