<template>
  <div>
    <div class="columns">
      <div class="column">
        <Welcome/>
      </div>
      <div class="column">
        <ActionButtons/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <Schedule/>
      </div>
    </div>
  </div>
</template>

<script>
import Welcome from "../dashboard/Welcome";
import Schedule from "../dashboard/Schedule";
import ActionButtons from "./ActionButtons";
export default {
  components: {
    Welcome,
    Schedule,
    ActionButtons
  },
  computed: {
    user() {
      return this.$store.state.Auth;
    }
  },

  methods: {
    getClasses() {
      console.log(this.user);
      const data = {
        role: this.user.userRole,
        id: this.user.currentUser
      };
      this.$store.dispatch("Classes/getClasses", data);
    }
  },
  mounted() {
    this.getClasses();
  }
};
</script>

<style>
</style>
