<template>
  <nav class="navbar is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <router-link to="/dashboard" class="navbar-item nav-logo">
          <img src="/assets/logo.svg">
        </router-link>

        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <b-icon pack="far" icon="user-circle" size="is-medium"></b-icon>
              <p class="name">
                {{user.firstName}}
                {{user.lastName}}
              </p>
            </a>

            <div class="navbar-dropdown">
              <router-link to="/profile" class="navbar-item" v-if="role!=='admin'">My Profile</router-link>
              <hr class="navbar-divider" v-if="role!=='admin'">
              <div to="/login" class="navbar-item" @click="logout">Logout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  computed: {
    role() {
      return this.$store.state.Auth.userRole;
    },
    user() {
      return this.$store.state.User.details;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("Auth/logout");
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
nav.navbar {
  margin-bottom: 1em;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-logo img {
  height: 4em;
  padding: 0.25em;
}

.navbar-item img {
  max-height: 5em;
}
.navbar-item {
  cursor: pointer;
}

.name {
  padding-left: 10px;
}
</style>

