<template>
  <aside class="menu is-hidden-mobile">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a class="is-active">Dashboard</a>
      </li>
      <li>
        <router-link to="/profile" class="navbar-item">My Profile</router-link>
      </li>
      <li>
        <router-link to="/timetable" class="navbar-item">Timetable</router-link>
      </li>
      <li>
        <a>Rate my Lecturers</a>
      </li>
      <li>
        <router-link to="/marks" class="navbar-item">Marks</router-link>
      </li>
      <li>
        <router-link to="/attendance" class="navbar-item">Attendance</router-link>
      </li>
    </ul>
    <p class="menu-label">Documents</p>
    <ul class="menu-list">
      <li>
        <a>My Report</a>
      </li>
      <li>
        <a>Proof of Registration</a>
      </li>
      <li>
        <a>Invoices</a>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {};
</script>

<style>
</style>
