@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
  font-family: "Nunito", sans-serif;
}

.gradient {
  background: #7f7fd5; /* fallback for old browsers */

  background: linear-gradient(
    to bottom right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.moving-gradient {
  background: #7f7fd5; /* fallback for old browsers */

  background: linear-gradient(
    to bottom right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;

  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.input {
  background-color: #ffffff00;
  border: none;
  border-bottom: 2px solid $light;
  border-radius: 0;
  color: $light;
}

.input:focus {
  box-shadow: none;
}

.input.is-primary:focus {
  box-shadow: none;
  border-bottom: 2px solid #8c9b9d;
}

.input::placeholder {
  color: $grey;
}

.input:focus::placeholder {
  color: $light;
}

.select select {
  background: #ffffff00;
  border: none;
  border-bottom: 2px solid $primary;
  border-radius: 0;
  color: $light;
}

.select select:focus {
  box-shadow: none;
}

.select select::placeholder {
  color: $grey;
}

.select select:focus::placeholder {
  color: $light;
}

.datepicker
  .datepicker-table
  .datepicker-body
  .datepicker-row
  .datepicker-cell.is-selectable {
  color: $light;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter {
  transform: translateX(-20px);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.fade-up-enter-active {
  transition: all 0.3s ease;
}
.fade-up-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-up-enter {
  transform: translateY(20px);
  opacity: 0;
}
.fade-up-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

a {
  color: $light;
}
a:hover {
  color: $secondary;
}

.Visual {
  background-color: $orange;
  border-color: $orange !important;
}
.Creative {
  background-color: $pink;
  border-color: $pink !important;
}
.Film {
  background-color: $aqua;
  border-color: $aqua !important;
}
