@import "~bulma/sass/utilities/_all";

@import "node_modules/bulmaswatch/darkly/_variables.scss";

@import "@/css/variables.scss";

$primary: #7f7fd5;
$primary-invert: findColorInvert($primary);
$secondary: #1dd2af;
$secondary-invert: findColorInvert($secondary);

$dark: #282f2f;
$dark-invert: findColorInvert($dark);

$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "secondary": (
    $secondary,
    $secondary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "node_modules/bulmaswatch/darkly/_overrides.scss";
