$primary: #7f7fd5;
$primary-invert: findColorInvert($primary);
$secondary: #1dd2af;
$secondary-invert: findColorInvert($secondary);

$dark: #282f2f;
$dark-invert: findColorInvert($dark);

$pink: #f06662;
$aqua: #54a59b;
$orange: #f29e02;
