<template>
  <article class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <b-icon pack="fas" icon="calendar-alt" size="is-medium"></b-icon>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Schedule</h1>
        </div>
      </div>
      <div class="media-right">
        <b-icon pack="far" icon="clone" size="is-medium"></b-icon>
      </div>
    </article>
    <Schedule v-if="user.userRole==='student'" :classes="classes"/>
    <Schedule v-if="user.userRole==='lecturer'" :classes="classes"/>
  </article>
</template>
<script>
import Schedule from "../ui/timetable/ScheduleTable";
export default {
  components: {
    Schedule
  },
  computed: {
    user() {
      return this.$store.state.Auth;
    },
    classes() {
      return this.$store.state.Classes.classes;
    }
  }
};
</script>

