<template>
  <div class="columns">
    <div class="column">
      <div class="box has-text-centered Visual">
        <h1 class="subtitle has-text-light">VC Students:</h1>

        <h1 class="title">{{stats['Visual Communication']}}</h1>
      </div>
    </div>
    <div class="column">
      <div class="box has-text-centered Film">
        <h1 class="subtitle has-text-light">FA Students:</h1>
        <h1 class="title">{{stats['Film Arts']}}</h1>
      </div>
    </div>
    <div class="column">
      <div class="box has-text-centered Creative">
        <h1 class="subtitle has-text-light">CT Students:</h1>

        <h1 class="title">{{stats['Creative Technologies']}}</h1>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "@/ajax.js";
export default {
  data() {
    return {
      stats: {}
    };
  },
  methods: {
    getStats() {
      return axios({
        method: "get",
        url: `http://localhost:8000/api/schoolStats`,
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(response => (this.stats = response.data))
        .catch(err => console.log(err));
    }
  },
  mounted() {
    this.getStats();
  }
};
</script>

