<template>
  <div :class="role === 'lecturer' ? 'box has-text-centered full' : 'box has-text-centered' ">
    <h1 class="title">Welcome {{userDetails.firstName}}</h1>
    <h1 class="subtitle">{{role}} since 04/04/2019</h1>
  </div>
</template>
<script>
export default {
  computed: {
    user() {
      return this.$store.state.User;
    },
    userDetails() {
      return this.$store.state.User.details;
    },
    role() {
      return this.$store.state.Auth.userRole;
    }
  }
};
</script>

 <style lang="scss" scoped>
.full {
  height: 100%;
  padding-top: 2.5em;
}
</style>

