<template>
  <div class="box">
    <div class="has-text-centered">
      <h1 class="title">View / edit attendance</h1>
      <br>
      <div class="columns is-centered has-text-left">
        <div class="column is-two-thirds">
          <p class="subtitle has-text-light">Class: {{className}}</p>

          <p class="subtitle">Choose a term</p>
          <div class="block">
            <b-radio v-model="term" native-value="1">Term 1</b-radio>
            <b-radio v-model="term" native-value="2">Term 2</b-radio>
            <b-radio v-model="term" native-value="3">Term 3</b-radio>
            <b-radio v-model="term" native-value="4">Term 4</b-radio>
          </div>
          <p class="subtitle">Choose a week</p>

          <div class="block">
            <b-radio v-model="week" native-value="1">Week 1</b-radio>
            <b-radio v-model="week" native-value="2">Week 2</b-radio>
            <b-radio v-model="week" native-value="3">Week 3</b-radio>
            <b-radio v-model="week" native-value="4">Week 4</b-radio>
          </div>
          <div class="block">
            <b-radio v-model="week" native-value="5">Week 5</b-radio>
            <b-radio v-model="week" native-value="6">Week 6</b-radio>
            <b-radio v-model="week" native-value="7">Week 7</b-radio>
            <b-radio v-model="week" native-value="8">Week 8</b-radio>
          </div>

          <br>
          <div class="columns is-centered has-text-left" v-if="term&&week">
            <div class="column">
              <div class="box has-background-dark">
                <b-table
                  :data="isEmpty ? [] : students"
                  default-sort-direction="asc"
                  default-sort="day"
                  class="is-fullwidth"
                  :paginated="true"
                  :per-page="10"
                  icon-pack="fa"
                  pagination-size="is-small"
                  :pagination-simple="true"
                  :checked-rows.sync="attendingStudents"
                  checkable
                  @check="setAttendance"
                >
                  <template slot-scope="props">
                    <b-table-column
                      field="name"
                      label="Name"
                      sortable
                    >{{ props.row.firstName }} {{ props.row.lastName }}</b-table-column>

                    <b-table-column
                      field="studentNum"
                      label="Student Number"
                      sortable
                    >{{props.row.studentNum }}</b-table-column>

                    <b-table-column label="Average" sortable>100</b-table-column>
                  </template>

                  <template slot="empty">
                    <section class="section">
                      <div class="content has-text-grey has-text-centered">
                        <p>
                          <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                        </p>
                        <p>Nothing here.</p>
                      </div>
                    </section>
                  </template>
                </b-table>
              </div>
            </div>
          </div>
          <div class="is-clearfix">
            <div class="buttons is-pulled-right">
              <div class="button has-text-centered is-primary" @click="$emit('back')">Back</div>
              <div class="button has-text-centered is-primary" @click="$emit('record')">Edit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    className() {
      return this.$store.state.Attendance.class.name;
    },
    term: {
      get: function() {
        return this.$store.state.Attendance.class.term;
      },
      set: function(new_val) {
        this.$store.dispatch("Attendance/setTerm", new_val);
      }
    },
    week: {
      get: function() {
        return this.$store.state.Attendance.class.week;
      },
      set: function(new_val) {
        this.$store.dispatch("Attendance/setWeek", new_val);
      }
    },
    students() {
      return this.$store.state.Attendance.class.students;
    }
  },
  methods: {
    setAttendance(_, student) {
      console.log(student);
      this.$store.dispatch("Attendance/setAttendance", {
        user_id: student.user_id
      });
    },
    getAttendance() {
      this.$store.dispatch("Attendance/getAttendance");
    },
    setStartAttendance() {
      this.students.forEach(student => {
        if (student.attendance) {
          this.attendingStudents.push(student);
        }
      });
    }
  },

  data() {
    return {
      isEmpty: false,
      attendingStudents: []
    };
  }
};
</script>
<style lang="scss">
.block-input {
  border: 0px;
  background-color: #343c3d;
  margin-bottom: 0.7em;
}
.block-input input.input {
  border: 0px;
}

.block-label {
  margin-top: 0.6em;
}

th.checkbox-cell {
  opacity: 0;
  pointer-events: none;
}
</style>


