<template>
  <div class="box">
    <div class="has-text-centered">
      <h1 class="title">Record marks</h1>
      <br>
      <div class="columns is-centered has-text-left">
        <div class="column is-three-quarters">
          <p class="subtitle has-text-light">Class: {{className}}</p>
          <section>
            <div class="block">
              <b-radio v-model="term" native-value="1">Term 1</b-radio>
              <b-radio v-model="term" native-value="2">Term 2</b-radio>
              <b-radio v-model="term" native-value="3">Term 3</b-radio>
              <b-radio v-model="term" native-value="4">Term 4</b-radio>
            </div>
          </section>
          <br>
          <div class="columns is-centered has-text-left">
            <div class="column">
              <div class="box has-background-dark">
                <b-table
                  :data="isEmpty ? [] : students"
                  default-sort-direction="asc"
                  default-sort="day"
                  class="is-fullwidth"
                  :paginated="true"
                  :per-page="10"
                  icon-pack="fa"
                  pagination-size="is-small"
                  :pagination-simple="true"
                >
                  <template slot-scope="props">
                    <b-table-column
                      field="name"
                      label="Name"
                      sortable
                    >{{ props.row.firstName }} {{ props.row.lastName }}</b-table-column>

                    <b-table-column
                      field="studentNum"
                      label="Student Number"
                      sortable
                    >{{props.row.studentNum }}</b-table-column>

                    <b-table-column label="Mark" sortable>
                      <b-input
                        @input="(event)=>setMark(event, props.row.user_id)"
                        class="block-input"
                        type="number"
                        max="100"
                      ></b-input>
                    </b-table-column>
                    <b-table-column label="Average" sortable>100</b-table-column>
                  </template>

                  <template slot="empty">
                    <section class="section">
                      <div class="content has-text-grey has-text-centered">
                        <p>
                          <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                        </p>
                        <p>Nothing here.</p>
                      </div>
                    </section>
                  </template>
                </b-table>
                <!-- <div v-for="(s, idx) in students" :key="idx">
                  <div class="columns is-centered">
                    <div class="column is-one-third has-text-right is-offset-1">
                      <b-field :label="s.firstName" class="block-label"></b-field>
                    </div>
                    <div class="column">
                      <div class="columns">
                        <div class="column is-one-third">
                          <b-input
                            @input="(event)=>setMark(event, s.user_id)"
                            class="block-input"
                            type="number"
                            max="100"
                          ></b-input>
                        </div>
                        <div class="column is-paddingless">
                          <p class="title block-label">%</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
            <div class="is-clearfix">
              <div class="buttons is-pulled-right">
                <div class="button has-text-centered is-primary" @click="$emit('back')">Cancel</div>
                <div class="button has-text-centered is-primary" @click="$emit('record')">Record</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    className() {
      return this.$store.state.Marks.class.name;
    },
    term: {
      get: function() {
        return this.$store.state.Marks.class.term;
      },
      set: function(new_val) {
        this.$store.dispatch("Marks/setTerm", new_val);
      }
    },
    students() {
      return this.$store.state.Marks.class.students;
    }
  },
  methods: {
    setMark(mark, id) {
      this.$store.dispatch("Marks/setMark", { id: id, mark: parseInt(mark) });
    }
  },
  data() {
    return {
      isEmpty: false
    };
  }
};
</script>
<style lang="scss">
.block-input {
  border: 0px;
  margin-bottom: 0.7em;
}
.block-input input.input {
  border: 0px;
}

.block-label {
  margin-top: 0.6em;
}

.table {
  background-color: #282f2f;
  color: #fff;
}
</style>


