<template>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">Assign students</h1>
        </div>
      </div>
      <div class="media-right">
        <div class="button has-text-centered is-primary" @click="$emit('back')">Back to Classes</div>
      </div>
    </article>

    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="school" size="is-medium"></b-icon>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">School</h2>
          </div>
        </div>
      </article>
      <p class="subtitle has-text-light">{{school}}</p>
    </div>

    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="chalkboard-teacher" size="is-medium"></b-icon>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Subject</h2>
          </div>
        </div>
      </article>
      <p
        class="subtitle has-text-light"
      >{{this.assigningClass.details.name}} at {{this.assigningClass.details.startTime}} on {{this.assigningClass.details.day}}</p>
    </div>

    <div class="box">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <b-icon pack="fas" icon="users" size="is-medium"></b-icon>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h2 class="subtitle">Students</h2>
          </div>
        </div>
      </article>
      <div class="columns">
        <div class="column is-offset-1">
          <StudentList/>
        </div>
      </div>
    </div>

    <div class="is-clearfix">
      <div class="buttons is-pulled-right">
        <div class="button has-text-centered is-primary" @click="sendAssign">Update</div>
      </div>
    </div>
  </div>
</template>



<script>
import StudentList from "./StudentsList";
export default {
  components: {
    StudentList
  },
  computed: {
    assigningClass() {
      return this.$store.state.Classes.assigningClass;
    },
    school() {
      if (this.assigningClass.details.school) {
        return this.assigningClass.details.school.name;
      } else {
        return "";
      }
    },
    schools() {
      return this.$store.state.Classes.available.schools;
    },
    availableSubjects() {
      return this.$store.state.Classes.classes;
    },
    students() {
      return this.$store.state.Classes.available.students;
    }
  },
  methods: {
    getAvailableSubjects() {
      this.$store.dispatch("Classes/getClasses");
    },
    sendAssign() {
      this.$store.dispatch("Classes/sendAssigningClass");
      this.$emit("back");
      this.$store.commit("Classes/RESET_ASSIGNING_CLASS");
    }
  },
  mounted() {
    this.$store.dispatch("Classes/getSchools");
    this.$store.dispatch("Classes/getStudents");
  }
};
</script>

