<template>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">All classes</h1>
        </div>
      </div>
      <div class="media-right">
        <div class="button has-text-centered is-primary" @click="$emit('new')">New Class</div>
      </div>
    </article>
    <b-table
      :data="isEmpty ? [] : classes"
      default-sort-direction="asc"
      default-sort="day"
      class="is-fullwidth"
      :paginated="true"
      :per-page="10"
      icon-pack="fa"
      pagination-size="is-small"
      :pagination-simple="true"
    >
      <template slot-scope="props">
        <b-table-column field="subject" label="Subject" sortable>{{ props.row.name }}</b-table-column>

        <b-table-column
          field="lecturer"
          label="Lecturer"
          sortable
        >{{ props.row.lecturer.firstName }} {{ props.row.lecturer.lastName }}</b-table-column>

        <b-table-column field="day" label="Day" sortable>{{props.row.day }}</b-table-column>

        <b-table-column
          label="Time"
          sortable
        >{{ props.row.startTime }}:00 - {{ props.row.endTime }}:00</b-table-column>
        <b-table-column label="Venue" sortable>{{ props.row.venue.venueName }}</b-table-column>
        <b-table-column label="Price">R{{ props.row.price }}</b-table-column>

        <b-table-column label=" ">
          <div class="button has-text-centered is-primary" @click="goEdit(props.row.id)">Edit Class</div>
        </b-table-column>
        <b-table-column label=" ">
          <div
            class="button has-text-centered is-primary is-outlined"
            @click="goAssign(props.row.id)"
          >Assign Students</div>
        </b-table-column>
        <b-table-column label=" ">
          <button class="delete" @click="goDelete(props.row.id)"></button>
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"></b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  computed: {
    classes() {
      return this.$store.state.Classes.classes;
    }
  },
  methods: {
    goAssign(id) {
      this.$store.dispatch("Classes/setAssigningClass", id);

      this.$emit("assign");
    },
    goEdit(id) {
      this.$store.dispatch("Classes/setEditingClass", id);

      this.$emit("edit");
    },
    goDelete(id) {
      this.$store.dispatch("Classes/deleteClass", id);
    }
  },
  data() {
    return {
      isEmpty: false
    };
  }
};
</script>

<style>
td {
  vertical-align: center;
}
</style>


