<template>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title">Set up a class</h1>
        </div>
      </div>
      <div class="media-right">
        <div class="button has-text-centered is-primary" @click="$emit('back')">Back to Classes</div>
      </div>
    </article>
    <div class="box">
      <transition name="slide-fade" mode="out-in">
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="fas" icon="chalkboard" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">Subject</h2>
              </div>
            </div>
          </article>
          <div class="columns">
            <div class="column is-6 is-offset-1">
              <div class="field">
                <div class="control">
                  <input
                    class="input is-primary"
                    type="text"
                    placeholder="Subject Name"
                    v-model="subject"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="slide-fade" mode="out-in">
        <div v-if="subject" class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="fas" icon="school" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">School</h2>
              </div>
            </div>
          </article>
          <div class="columns">
            <div class="column is-6 is-offset-1">
              <div class="select is-fullwidth">
                <select v-model="school" @input="getAvailableLecturers">
                  <option :value="null" disabled>Choose a School</option>
                  <option :value="s.id" v-for="(s, idx) in schools" :key="idx">{{s.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </transition>

      <transition name="slide-fade" mode="out-in">
        <div v-if="school" class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="fas" icon="user" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">Lecturer</h2>
              </div>
            </div>
          </article>
          <div class="columns">
            <div class="column is-6 is-offset-1">
              <div class="select is-fullwidth">
                <select v-model="lecturer">
                  <option :value="null" disabled>Choose a Lecturer</option>
                  <option
                    :value="l.user_id"
                    v-for="(l, idx) in availableLecturers"
                    :key="idx"
                  >{{l.title + " " + l.lastName}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </transition>

      <transition name="slide-fade" mode="out-in">
        <div v-if="lecturer" class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="far" icon="calendar-alt" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">Day</h2>
              </div>
            </div>
          </article>
          <Options :optionsList="availableDays" @selectOption="setDay"/>
        </div>
      </transition>

      <transition name="slide-fade" mode="out-in">
        <div v-if="newClass.day" class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="far" icon="clock" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">Time</h2>
              </div>
            </div>
          </article>
          <div class="box">
            <article class="media">
              <figure class="media-left">
                <p class="image is-32x32"></p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Duration</p>
                </div>
              </div>
            </article>
            <Options :optionsList="availableDurations" @selectOption="setDuration"/>

            <article class="media">
              <figure class="media-left">
                <p class="image is-32x32"></p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Start</p>
                </div>
              </div>
            </article>
            <Options :optionsList="availableTimes" @selectOption="setStartTime"/>
          </div>
        </div>
      </transition>

      <transition name="slide-fade" mode="out-in">
        <div class="box" v-if="newClass.startTime && newClass.duration">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="fas" icon="chalkboard-teacher" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">Venue</h2>
              </div>
            </div>
          </article>
          <div class="columns">
            <div class="column is-6 is-offset-1">
              <div class="select is-fullwidth">
                <select v-model="venue">
                  <option :value="null" disabled>Choose a Venue</option>
                  <option
                    :value="v.id"
                    v-for="(v, idx) in availableVenues"
                    :key="idx"
                  >{{v.venueName}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <transition name="slide-fade" mode="out-in">
        <div class="box" v-if="newClass.venue">
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <b-icon pack="fas" icon="hand-holding-usd" size="is-medium"></b-icon>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="subtitle">Price</h2>
              </div>
            </div>
          </article>
          <div class="columns">
            <div class="column is-6 is-offset-1">
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="text" placeholder="Price" v-model="price">
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <!-- <div class="columns">
        <div class="column is-10 is-offset-1">
          <figure class="image is-2by1">
            <img src="https://bulma.io/images/placeholders/640x480.png">
          </figure>
        </div>
      </div>-->
      <transition name="slide-fade" mode="out-in">
        <div class="is-clearfix" v-if="newClass.price">
          <div class="buttons is-pulled-right">
            <div class="button has-text-centered is-primary" @click="addClass">Add Class</div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>



<script>
import Options from "@/components/ui/Options";

export default {
  components: {
    Options
  },

  computed: {
    newClass() {
      return this.$store.state.Classes.newClass;
    },
    availableOptions() {
      return this.$store.state.Classes.available;
    },
    availableDays() {
      return this.availableOptions.days;
    },
    availableTimes() {
      return this.availableOptions.times;
    },
    availableDurations() {
      return ["1 hour", "2 hours", "3 hours", "4 hours"];
    },
    subject: {
      get: function() {
        return this.newClass.name;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setNewSubject", new_val);
      }
    },
    lecturer: {
      get: function() {
        return this.newClass.lecturer;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setNewLecturer", new_val);
      }
    },
    venue: {
      get: function() {
        return this.newClass.venue;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setNewVenue", new_val);
      }
    },
    school: {
      get: function() {
        return this.newClass.school;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setNewSchool", new_val);
      }
    },
    price: {
      get: function() {
        return this.newClass.price;
      },
      set: function(new_val) {
        this.$store.dispatch("Classes/setNewPrice", new_val);
      }
    },
    availableLecturers() {
      return this.$store.state.Classes.available.lecturers;
    },
    availableVenues() {
      return this.$store.state.Classes.available.venues;
    },
    schools() {
      return this.$store.state.Classes.available.schools;
    }
  },
  methods: {
    getAvailableLecturers() {
      if (this.newClass.school === null) {
        setTimeout(() => this.getAvailableLecturers(), 250);
      } else {
        this.$store.dispatch("Classes/getNewLecturers");
      }
    },

    getAvailableVenues() {
      this.$store.dispatch("Classes/getVenues");
    },
    setDay(day) {
      this.$store.dispatch("Classes/setNewDay", day);
    },
    setStartTime(time) {
      this.$store.dispatch("Classes/setNewStartTime", time);
    },
    setDuration(time) {
      this.$store.dispatch("Classes/setNewDuration", time);

      this.getAvailableVenues();
    },
    addClass() {
      this.$store.dispatch("Classes/sendNewClass");
      this.$store.commit("Classes/RESET_NEW_CLASS");
    }
  },
  mounted() {
    this.$store.dispatch("Classes/getSchools");
  }
};
</script>



