<template>
  <router-link to="/dashboard" class="float">
    <b-tooltip position="is-right" :label="label" type="is-secondary">
      <div class="circle">
        <b-icon pack="fas" :icon="icon" size="is-medium"></b-icon>
      </div>
    </b-tooltip>
  </router-link>
</template>
<script>
export default {
  props: {
    label: { required: true, type: String },
    link: { required: true, type: String },
    icon: { required: true, type: String }
  }
};
</script>


<style lang="scss" scoped>
@import "@/css/variables.scss";
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: $primary;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 10px #00000088;
  z-index: 9999;
}

.circle {
  width: 60px;
  height: 60px;
}
.float:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 20px #000000a4;
}

.float .icon {
  margin-top: 1em;
}
</style>

