<template>
  <div
    :class="selected ?'box option-selector  selected' :'box option-selector'"
    @click="toggleSelected"
  >
    <p class="is-size-6">{{option}}</p>
  </div>
</template>

<script>
export default {
  props: {
    option: {
      required: true,
      type: String
    },
    selected: {
      required: false,
      type: Boolean
    }
  },
  methods: {
    toggleSelected() {
      this.$emit("toggle", this.option);
    }
  }
};
</script>

<style lang="scss">
@import "@/css/variables.scss";

.option-selector {
  background-color: $dark !important;
  border: 2px solid #00000000;
  margin: 1em auto;
}

.option-selector:hover {
  border: 2px solid $secondary !important;
}

.option-selector.selected {
  background-color: $primary !important;
}
</style>
